			<!-- This is the script for the content switching -->
			<script src="http://code.jquery.com/bootstrap.min.js"></script>
			<script src="http://code.jquery.com/less-1.3.0.min.js"></script>
			<script src="http://code.jquery.com/jquery-latest.js"></script>
			<script src="https://github.com/dansingerman/jQuery-Browser-Language/blob/master/jquery.browserLanguage.js"></script>
			<script>
				$("a#en").click(function(event) {
				  event.preventDefault();
					$('.zh').hide().addClass("hidden");
					$('.en').show().removeClass("hidden");
				});
				$("a#zh").click(function(event) {
				  event.preventDefault();
					$('.zh').show().removeClass("hidden");
					$('.en').hide().addClass("hidden");
				});
			</script>
		</div>
	</body>
</html>