<html>
	<head>
		<link rel="stylesheet" media="screen, projection" href="/css/bootstrap-responsive.min.css">
		<link rel="stylesheet" media="screen, projection" href="/css/bootstrap.min.css">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Strand Beer</title>
	</head>
	<body>

		<!-- Language selector links-->



    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="">Strand Beer</a>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li>
                <a href="" id="en">EN</a>
              </li>
  						<li>
								<a href="" id="zh">中文</a>
	            </li>
            </ul>
          </div>
        </div>
      </div>
    </div>