<div class="row">
	<div class="span4">
		<h2 class='en' lang='en'>Ordering Info</h2>
		<h2 class='zh hidden' lang='zh'>订购信息</h2>
		<p class='en' lang='en'>Kegs and growlers are available for pick-up or delivery, but please contact us for availability.  
		We offer 4L growlers, 5L mini-kegs, and 20L and 50L kegs.  Call at least two weeks in advance for larger keg orders.  Mini-kegs and growlers can be purchased or require a deposit. </p>
		<p class='zh hidden' lang='zh'>我们的啤酒储存在扎啤桶和扎啤瓶中售卖，可以选择自提或送货上门（需一定费用），并请提前联系我们确认现有啤酒种类和库存数量。
		我们有4L扎啤瓶，5L迷你啤酒保鲜桶，20L、50L全不锈钢扎啤桶出售，也可支付押金无偿使用。如果需要数量比较多，请至少两个星期预约。</p>
	</div>
	
	<div class="span4">
		<h2 class='en' lang='en'>Hosting an Event</h2>
		<h2 class='zh hidden' lang='zh'>主办活动</h2>
		<p class='en' lang='en'>Beer catering services are available, and we can deliver.  Make sure to contact us well in advance, so that we can meet your requirements and have adequate equipment and beer available.  Professional caterers recommend about three glasses of beer per person.</p>
		<p class='zh hidden' lang='zh'>我们可以为各种活动提供啤酒，请务必提前联系我们，以保证我们有足够的时间按照您的需求准备啤酒和相关设备。膳食专家供建议按照每人3杯的数量计算活动啤酒需求。</p>
	</div>

	<div class="span4">
		<h2 class='en' lang='en'>Custom Design</h2>
		<h2 class='zh hidden' lang='zh'>个性化定制服务</h2>
		<p class='en' lang='en'>We offer two custom services: designing serving systems and designing beer.  Whatever your needs, please contact us and we can  work with you to design a custom serving system or even to design your bar’s signature beer.  </p>
		<p class='zh hidden' lang='zh'>我们提供两种个性化定制服务：个性化定制啤酒供应系统和个性化定制啤酒种类、口味。
		不管您的需求是哪一种，请联系我们，我们将尽全力设计出最适合您的啤酒供应系统甚至酿造专属于您的酒吧的签名啤酒!</p>
	</div>
</div>

<div class="hero-unit">
	<h2 class='en' lang='en'>Contact Us</h2>
	<h2 class='zh hidden' lang='zh'>联系我们</h2>
	<p class='en' lang='en'>Our brewery and tasting room is located in Chisha Village, Guangzhou.  We are open most Sundays from 3-7PM.  Please call ahead before visiting the brewery.  </p>
	<p class='zh hidden' lang='zh'>我们的啤酒作坊和品尝室在广州市赤沙村，营业时间为：周日下午3点-7点。如需参观，请提前电话联系。</p>

	<p class='en' lang='en'>Brewmaster, David Strand<br />
	Phone: 18620181049<br />
	Address: Fenyang North Street #11, Chisha Village, Haizhu District, Guangzhou<br />
	广东省广州市海珠区赤沙村汾阳北大街11号1楼<br />
	Email: strandbeer@gmail.com</p>

	<p class='zh hidden' lang='zh'>销售经理：尹小姐<br />
	电话：13430278129<br />
	啤酒酿造大师：David Strand<br />
	电话：18620181049<br />
	地址：广州市海珠区赤沙村汾阳北大街11号<br />
	Email: strandbeer@gmail.com</p>
</div>