<div class="row">
	<% @not_on_tap = [] %>
	<% @count = 0 %>
	<% @beers.each do |beer| %>
		<% if beer["on_tap"] %>
			<div class="span6 on_tap">
				<%= partial :beer_listing, :locals => {:beer => beer} %>
			</div>
		<% else %>
		  <% @not_on_tap << beer %>
		<% end %>
	<% end %>
	<% @not_on_tap.each do |beer| %>
		<div class="span6 not_on_tap">
			<%= partial :beer_listing, :locals => {:beer => beer} %>
		</div>
	<% end %>
</div>