
<div class="container">
	<div class="hero-unit">
	  <h1 class='en' lang='en'>About <em>Strand Beer</em></h1>
		<h1 class='zh hidden' lang='zh'>关于<em>斯特兰德啤酒</em></h1>
	  <p class='en' lang='en'>We make fine craft beer in Guangzhou.  
		Our handcrafted beers are made with only Chinese-grown hops and barley. We use Xinjiang-grown hops and Shandong-kilned barley and wheat. 
		The only imported ingredient in our beer is yeast. We use yeast strains originating in America, Belgium, Germany, and Ireland.
		We regularly brew a variety of beers, and can also brew custom beers to your specification. Let us know if there is a beer that you would like, and we will do our best to make it!</p>
		<p class='zh hidden' lang='zh'>我们所有的啤酒都是手工酿造，仅使用中国种植的优质啤酒花和麦芽。我们的啤酒花来自阳光明媚的新疆，而麦芽是在山东烘焙的。我们目前使用的原材料中，有4种啤酒花和7种大麦芽、小麦芽。
		唯一进口的成分是酵母。目前，我们有相当多的酵母菌种类，分别来自比利时、美国、德国、英国和爱尔兰。
		如果您有自己喜欢的啤酒种类或者味道，可以告诉我们，我们将尽力酿造出符合您口味的啤酒！</p>
	</div>


