<html>
	<head>
		<style>
		.hidden { visibility:hidden; }
		</style>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Strand Beer</title>
	</head>
	<body>
		<a href="" id="en">EN</a> | <a href="" id="zh">ZH</a>
		<p class='en' lang='en'>This is English content.</p>
		<p class='zh hidden' lang='zh'>这是中国的内容。</p>
		
		
		<h2 class='en' lang='en'>About STRAND BEER</h2>
		<h2 class='zh hidden' lang='zh'>关于斯特兰德啤酒</h2>
		<p class='en' lang='en'>We make fine craft beer in Guangzhou.  
		Our handcrafted beers are made with only Chinese-grown hops and barley. We use Xinjiang-grown hops and Shandong-kilned barley and wheat. 
		The only imported ingredient in our beer is yeast. We use yeast strains originating in America, Belgium, Germany, and Ireland.
		We regularly brew a variety of beers, and can also brew custom beers to your specification. Let us know if there is a beer that you would like, and we will do our best to make it!</p>

		<p class='zh hidden' lang='zh'>我们所有的啤酒都是手工酿造，仅使用中国种植的优质啤酒花和麦芽。我们的啤酒花来自阳光明媚的新疆，而麦芽是在山东烘焙的。我们目前使用的原材料中，有4种啤酒花和7种大麦芽、小麦芽。
		唯一进口的成分是酵母。目前，我们有相当多的酵母菌种类，分别来自比利时、美国、德国、英国和爱尔兰。
		如果您有自己喜欢的啤酒种类或者味道，可以告诉我们，我们将尽力酿造出符合您口味的啤酒！</p>

		<h2 class='en' lang='en'>American Pale Ale</h2>
		<h2 class='zh hidden' lang='zh'>美式淡啤酒</h2>
		<p class='en' lang='en'>This pale ale has a distinctly bitter–but not too bitter–flavor and deep amber color. Brewed with chocolate malt, light and dark carmel malts and American Nugget and Cascade hops; this beer has a piney hop feel and a slightly roasted carmel flavor.  American Yeast.</p>
		<p class='zh hidden' lang='zh'>采用美国Nugget和Cascade啤酒花，具有一种独特的淡淡的苦香味。这种啤酒呈深琥珀色，带有少许烤焦糖的风味，啤酒花闻起来有松树的清香。
		主要原料：巧克力麦芽、浅焦糖麦芽、深焦糖麦芽；美国酵母。</p>

		<h2 class='en' lang='en'>Hefeweizen</h2>
		<h2 class='zh hidden' lang='zh'>德国小麦啤酒</h2>
		<p class='en' lang='en'>The feature summer ale of Bavaria, our hefeweizen is brewed with wheat and pale malt. The secret to hefeweizen is a special wheat yeast, which creates a balanced banana and clove flavor with a hint of citrus. Our hefe is unfiltered, as is tradition.  Saaz hops.  Hefeweizen yeast.</p>
		<p class='zh hidden' lang='zh'>这是一种巴伐利亚特色的夏季啤酒，用50%的小麦麦芽和50%的浅色大麦芽酿制而成。它的奥秘之处在于使用了一种特殊的小麦酵母，调和出均衡的香蕉/丁香味，并带有淡淡的柑橘香。啤酒未经过滤，保留了一直以来的传统。
		主要原料：Saaz啤酒花；德国小麦啤酒酵母。</p>

		<h2 class='en' lang='en'>American Porter</h2>
		<h2 class='zh hidden' lang='zh'>美式波特黑啤</h2>
		<p class='en' lang='en'>Medium brown color, with a lightly burnt malt character and a hint of coffee.  Slightly sweet with a low hop level, our porter balances six different malts to create a complex malty and roasted character like chocolate.   Uses both Nugget and Cascade hops.  American Yeast. </p>
		<p class='zh hidden' lang='zh'>呈中褐色，带有轻微烤糊的麦芽香以及咖啡的微妙口感。只用少量的啤酒花，因而味道偏甜。我们的波特使用六种不同的麦芽（包括咖啡麦芽、巧克力麦芽、黑麦芽），协调出一种混着麦芽甜和烘烤口感的类似于巧克力的味道。
		主要原料：Nugget啤酒花、Cascade啤酒花；美国酵母。</p>

		<h2 class='en' lang='en'>Belgian Wit</h2>
		<h2 class='zh hidden' lang='zh'>比利时小麦啤酒</h2>
		<p class='en' lang='en'>Our version of Belgium’s traditional summer beer is brewed with half wheat and barley.  Our wit is refreshingly fragrant and flavorful,  and contains seven special ingredients, including pomelo, aged orange peel, and coriander. Saaz, Cluster, and Cascade hops. Wit yeast.</p>
		<p class='zh hidden' lang='zh'>我们特别研制的这种比利时夏季传统啤酒的是用50%小麦和50%大麦混合酿造。入口甘甜清香，包含七个特殊配料，包括特制柚子皮、陈皮、香菜籽。 
		主要原料：Saaz啤酒花、Cluster啤酒花、Cascade啤酒花；小麦啤酒酵母。</p>

		<h2 class='en' lang='en'>Belgian Blond Ale</h2>
		<h2 class='zh hidden' lang='zh'>比利时黄金麦酒</h2>
		<p class='en' lang='en'>Our Blond is made with Candi Sugar and honey, and has a distinctive floral aroma and slight peppery and spicy flavor.  Minimally hoppy, this beer is decidedly sweet, and the yeast gives it a slight berry flavor.  Saaz hops.  Belgian yeast. *Stronger in alcohol content. </p>
		<p class='zh hidden' lang='zh'>这款精酿的啤酒的特别之处是酿造时加入了比利时啤酒专用糖和蜂蜜，具有鲜明的花香、淡淡的胡椒和辛辣味。仅使用少量的啤酒花，因而口感清甜，使用的特制酵母也给它带来一种淡淡的浆果味。 
		主要原料：Saaz啤酒花；比利时酵母。 *此款啤酒酒精含量相对较高</p>

		<h2 class='en' lang='en'>American IPA</h2>
		<h2 class='zh hidden' lang='zh'>美式印度淡艾尔啤酒</h2>
		<p class='en' lang='en'>Our IPA is almost three times as bitter as a normal beer and substantially more bitter than any other beer we brew.  We use a combination of three hops, to make a piney, bold, citrus flavor.  American Nugget, Cascade, and Cluster hops. </p>
		<p class='zh hidden' lang='zh'>这种啤酒我们最苦的一种，它的苦味为60IBUs   （国际标准苦度单位），是一般啤酒的3倍。它使用了3种啤酒花的组合，给啤酒一种混合着松树香、粗犷、柑橘香的奇妙苦味。
		主要原料：Nugget啤酒花、Cascade啤酒花、Cluster啤酒花；美国酵母。</p>

		<h2 class='en' lang='en'>Ordering Info</h2>
		<h2 class='zh hidden' lang='zh'>订购信息</h2>
		<p class='en' lang='en'>Kegs and growlers are available for pick-up or delivery, but please contact us for availability.  
		We offer 4L growlers, 5L mini-kegs, and 20L and 50L kegs.  Call at least two weeks in advance for larger keg orders.  Mini-kegs and growlers can be purchased or require a deposit. </p>
		<p class='zh hidden' lang='zh'>我们的啤酒储存在扎啤桶和扎啤瓶中售卖，可以选择自提或送货上门（需一定费用），并请提前联系我们确认现有啤酒种类和库存数量。
		我们有4L扎啤瓶，5L迷你啤酒保鲜桶，20L、50L全不锈钢扎啤桶出售，也可支付押金无偿使用。如果需要数量比较多，请至少两个星期预约。</p>

		<h2 class='en' lang='en'>Hosting an Event</h2>
		<h2 class='zh hidden' lang='zh'>主办活动</h2>
		<p class='en' lang='en'>Beer catering services are available, and we can deliver.  Make sure to contact us well in advance, so that we can meet your requirements and have adequate equipment and beer available.  Professional caterers recommend about three glasses of beer per person.</p>
		<p class='zh hidden' lang='zh'>我们可以为各种活动提供啤酒，请务必提前联系我们，以保证我们有足够的时间按照您的需求准备啤酒和相关设备。膳食专家供建议按照每人3杯的数量计算活动啤酒需求。</p>

		<h2 class='en' lang='en'>Custom Design</h2>
		<h2 class='zh hidden' lang='zh'>个性化定制服务</h2>
		<p class='en' lang='en'>We offer two custom services: designing serving systems and designing beer.  Whatever your needs, please contact us and we can  work with you to design a custom serving system or even to design your bar’s signature beer.  </p>
		<p class='zh hidden' lang='zh'>我们提供两种个性化定制服务：个性化定制啤酒供应系统和个性化定制啤酒种类、口味。
		不管您的需求是哪一种，请联系我们，我们将尽全力设计出最适合您的啤酒供应系统甚至酿造专属于您的酒吧的签名啤酒!</p>

		<h2 class='en' lang='en'>Contact Us</h2>
		<h2 class='zh hidden' lang='zh'>联系我们</h2>
		<p class='en' lang='en'>Our brewery and tasting room is located in Chisha Village, Guangzhou.  We are open most Sundays from 3-7PM.  Please call ahead before visiting the brewery.  </p>
		<p class='zh hidden' lang='zh'>我们的啤酒作坊和品尝室在广州市赤沙村，营业时间为：周日下午3点-7点。如需参观，请提前电话联系。</p>

		Brewmaster, David Strand
		Phone: 18620181049
		Address: Fenyang North Street #11, Chisha Village, Haizhu District, Guangzhou
		广东省广州市海珠区赤沙村汾阳北大街11号1楼
		Email: strandbeer@gmail.com
		销售经理：尹小姐
		电话：13430278129
		啤酒酿造大师：David Strand 
		电话：18620181049
		地址：广州市海珠区赤沙村汾阳北大街11号
		Email: strandbeer@gmail.com
		
		
		<script>
			$("a#en").click(function(event) {
			  event.preventDefault();
				$('.zh').hide().addClass("hidden");
				$('.en').show().removeClass("hidden");
			});
			$("a#zh").click(function(event) {
			  event.preventDefault();
				$('.zh').show().removeClass("hidden");
				$('.en').hide().addClass("hidden");
			});
		</script>
	</body>
</html>